body {
	font-size: 80% !important;	
}

.ui-panel-titlebar {
	background-color: #c3c3c3;
}

.ui-panel {
	border-color: #a1a1a1;
}

.sem-borda td, .sem-borda tr {
	border: none !important;
}